body{
  background: url("./../../images/tr111.jpg");  
}
.resp{
  text-align: center;    
}
.response{
    background: #fff;
    padding: 100px 0;
    border-radius: 20px;
    font-size: 38px;
}
.question{
  margin-top: 20px;
  padding: 20px 20px 0 20px;
}
.answer{
  margin-bottom: 20px;
  padding: 20px;
}

/* tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;  
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  background: #011247;
  color: white;
}

.formInput{
  width: 200px;
  height: 45px;
  margin: 10px 0;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #011247;
  background: #011247;
  color: #fff;
}
.formInput:focus{
  outline: none;
}
.submitQues{
  width: 30%;
  height: 45px;
  margin: 10px 0 0 35%;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  background: linear-gradient(to right, #011247 0%, #e97504 100%);
  color: #fff;
}
.textQues{
  width: 100%;
  border-radius: 10px;
  margin:5px 0px;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #011247;
  background: #011247;
  color: #fff;
  margin-bottom: 15px;
}
.custom-file{
  width: 200px;
  margin-bottom: 10px;
}
.submitPass{
    width: 200px;
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    background: linear-gradient(to right, #011247 0%, #e97504 100%);
    color: #fff;
}
.pass .formInput{
  width: 400px;
}
.quhead{
  text-align: center;
  margin-top: 20px;
}
.theader{
  /* background: #e97504; */
  color: #e97504;
  text-align: center;
}
/*chat box*/
.messageArea{
  width: 85%;
  height: 40px;
  background: none;
  border: 1px solid #9e9e9e;
  padding-left: 15px;
}
.send_chat{
  width: 14%;
  height: 40px;
  margin-left: 1%;
  margin-bottom: 5px;
  background: #011247;
  border: 1px solid #011247;
}
.chat_history{
  height:400px; 
  border:1px solid #9e9e9e; 
  overflow-y: scroll; 
  margin-bottom:24px; 
  padding:16px;
}