/* body{
  background: linear-gradient(to right, #7f32fe 0%, #bf37dc 100%);
}
.container{
  background: #fff;
  height: 100%
} */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}
  a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0; 
}
  
.defaultHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9; 
  color: black;
}
    
.navbar {
  padding: 25px 15px; 
  background: linear-gradient(to right, #7f32fe 0%, #bf37dc 100%);
  color: #fff;
}
  @media (max-width: 992px) {
  .navbar .navbar-collapse {
    background: #111;
    margin-top: 20px; 
  } 
}
@media (max-width: 992px) {
  .navbar-nav {
  margin-top: 10px;
  height: auto;
  max-height: 400px;
  overflow-x: hidden; 
}
  .navbar-nav a {
  padding: 0; 
}
  .navbar-nav li {
  padding: 10px 0; } 
      }

.navbar-nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: fff;
  padding: 10px 20px; 
}
  
.header-scrolled {
  position: fixed;
  left: 0;
  width: 100%;
  background: #222222; 
}

.homeBannerArea {
  /* background: url(../image/4.png) no-repeat; */
  background-size: cover;
  background-position: center center;
  max-height: 1200px;
 }

@media (min-width: 1921px) {
  .homeBannerArea .fullscreen {
      align-items: start !important;
      padding-top: 250px;
      max-height: 1200px !important; } 
    }

@media (max-width: 768px) {
  .homeBannerArea .fullscreen {
      height: 700px !important; } 
    }
    
@media (max-width: 768px) {
  .homeBannerLeft {
        text-align: center; } }
    .homeBannerLeft h1 {
    color: #222;
    font-size: 48px;
    line-height: 1em;
    margin-bottom: 20px; }
    .homeBannerLeft h1 span {
        font-weight: 900; }
    @media (max-width: 768px) {
        .homeBannerLeft h1 {
        font-size: 36px; } }
    @media (max-width: 767px) {
        .homeBannerLeft h1 br {
        display: none; } }
    @media (max-width: 991px) {
        .homeBannerLeft h1 {
        font-size: 45px; } }
    @media (max-width: 414px) {
        .homeBannerLeft h1 {
        font-size: 40px; } }
    @media (max-width: 800px) {
    .homeBannerLeft {
        margin-top: 30px; } }
    
    .homeBannerRight img {
    margin-right: auto !important;
    margin-left: auto !important;
    display: block; }
    @media (max-width: 991px) {
        .homeBannerRight img {
        display: none; } }
    
.logout{
  border:0px;
  background: none;
  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 12px;
  font-weight: 500;
}
.body1{
  font-size:14px;
  max-width:1920px;
  margin:0 auto;
  overflow-x:hidden;
  background: linear-gradient(to right, #7f32fe 0%, #bf37dc 100%);
}
.homeBanner{
  padding:0px;
  background: #fff;
}
.img1{
  background: url(../images/bannerHome.png);
  height: 380px;
  margin: 4px solid black;
  padding-bottom: 0px;
}
.justify-content-center{
  padding-top: 90px;
  margin-top: 30px;
  padding-bottom: 0px;
  color:#fff;
}
.homeBody{
  padding-top: 0px;
  background-color: #fff;
}
.intro{
  padding-top: 50px;
}
.intro h1{
  background:-webkit-linear-gradient( #7f32fe 0%, #bf37dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: serif;
  text-transform: capitalize;
}
.intro p{
  font-size: 20px;
  font-family: sans-serif;
}
#std{
  padding-top: 50px;
}
#std h1{
  background:-webkit-linear-gradient( #7f32fe 0%, #bf37dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: serif;
  text-transform: capitalize;
}
#std p{
  font-family: sans-serif;
  font-size: 20px;
}
#tech{
  padding-top: 50px;
}
#tech h1{
  background:-webkit-linear-gradient( #7f32fe 0%, #bf37dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: serif;
  text-transform: capitalize;
}
#tech p{
  font-family: sans-serif;
  font-size: 20px;
}
#about{
  padding-top: 50px;
}
#about h1{
  background:-webkit-linear-gradient( #7f32fe 0%, #bf37dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: serif;
  text-transform: capitalize;
}
#about p{
  font-family: sans-serif;
  font-size: 20px;
}
#contact{
  padding-top: 50px;
}
#contact h1{
  background:-webkit-linear-gradient( #7f32fe 0%, #bf37dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: serif;
  text-transform: capitalize;
<<<<<<< HEAD
=======
}
>>>>>>> 9441ad63c40e161df81e6ae9d20bab21eb452988
.searchbar{
  padding: 10px;
  padding-left: 0px;
}
.search{
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #ced4da;
  height: 30px;
}