/* body{
  background: linear-gradient(to right, #7f32fe 0%, #bf37dc 100%);
}
.container{
  background: #fff;
  height: 100%
} */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}
  a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0; 
}
  
.defaultHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9; 
  color: black;
}
    
.navbar {
  padding: 25px 15px; 
  background: linear-gradient(to right, #7f32fe 0%, #bf37dc 100%);
  color: #fff;
}
  @media (max-width: 992px) {
  .navbar .navbar-collapse {
    background: #111;
    margin-top: 20px; 
  } 
}
@media (max-width: 992px) {
  .navbar-nav {
  margin-top: 10px;
  height: auto;
  max-height: 400px;
  overflow-x: hidden; 
}
  .navbar-nav a {
  padding: 0; 
}
  .navbar-nav li {
  padding: 10px 0; } 
      }

.navbar-nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: fff;
  padding: 10px 20px; 
}
  
.header-scrolled {
  position: fixed;
  left: 0;
  width: 100%;
  background: #222222; 
}

.homeBannerArea {
  /* background: url(../image/4.png) no-repeat; */
  background-size: cover;
  background-position: center center;
  max-height: 1200px;
 }

@media (min-width: 1921px) {
  .homeBannerArea .fullscreen {
      align-items: start !important;
      padding-top: 250px;
      max-height: 1200px !important; } 
    }

@media (max-width: 768px) {
  .homeBannerArea .fullscreen {
      height: 700px !important; } 
    }
    
@media (max-width: 768px) {
  .homeBannerLeft {
        text-align: center; } }
    .homeBannerLeft h1 {
    color: #222;
    font-size: 48px;
    line-height: 1em;
    margin-bottom: 20px; }
    .homeBannerLeft h1 span {
        font-weight: 900; }
    @media (max-width: 768px) {
        .homeBannerLeft h1 {
        font-size: 36px; } }
    @media (max-width: 767px) {
        .homeBannerLeft h1 br {
        display: none; } }
    @media (max-width: 991px) {
        .homeBannerLeft h1 {
        font-size: 45px; } }
    @media (max-width: 414px) {
        .homeBannerLeft h1 {
        font-size: 40px; } }
    @media (max-width: 800px) {
    .homeBannerLeft {
        margin-top: 30px; } }
    
    .homeBannerRight img {
    margin-right: auto !important;
    margin-left: auto !important;
    display: block; }
    @media (max-width: 991px) {
        .homeBannerRight img {
        display: none; } }
    
.logout{
  border:0px;
  background: none;
  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 12px;
  font-weight: 500;
}
    
  
